# fly.toml app configuration file generated for www-marijana on 2023-05-27T20:53:39+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "www-marijana"
primary_region = "ams"

[http_service]
internal_port = 3000
force_https = true
auto_stop_machines = false
auto_start_machines = true
min_machines_running = 0

[env]
NEXT_PUBLIC_HOST = "http://localhost:3000"
