.global {
  --blue-dark-500: #3b58ff;
  --blue-dark-600: #1E34B6;
  --blue-dark-700: #150070;
  --blue-dark-800: #000026;
  --blue-dark-900: #000018;
  --blue-dark-950: #030212;
  --blue-light-0: #F8FCFD;
  --blue-light-50: #f0f4ff;
  --blue-light-200: #cddcff;
  --blue-light-500: #001aff;
  --red-light-0: #fff;
  --red-light-50: #fff3ed;
  --red-light-200: #fcc7ac;
  --red-light-500: #f44e22;
  --font-families-inria-serif: Inria Serif;
  --font-families-inter: Inter;
  --font-families-archivo: Archivo;
  --font-weights-inter-regular: Regular;
  --font-weights-inter-bold: Bold;
  --font-weights-inter-medium: Medium;
  --font-weights-archivo-light: Light;
  --font-weights-archivo-regular: Regular;
  --letter-spacing-0: 0%;
  --letter-spacing-1: -5%;
  --paragraph-spacing-0: 0;
  --text-case-none: none;
  --text-decoration-none: none;
  --paragraph-indent-0: 0px;
  --red-dark-500: #FF4733;
  --red-dark-600: #B90000;
  --red-dark-700: #340904;
  --red-dark-800: #120302;
  --red-dark-900: #0A0101;
  --red-dark-950: #070000;
  --font-sizes-base: 16px;
  --font-sizes-lg: 18px;
  --font-sizes-xl: 20px;
  --font-sizes-2xl: 24px;
  --font-sizes-3xl: 30px;
  --font-sizes-4xl: 36px;
  --font-sizes-5xl: 48px;
  --font-sizes-6xl: 60px;
  --font-sizes-7xl: 72px;
  --font-sizes-8xl: 96px;
  --font-sizes-sm: 14px;
  --font-sizes-xs: 12px;
  --font-sizes-xxs: 10px;
  --base: 8;
  --line-height-3: 12;
  --line-height-4: 16;
  --line-height-5: 20;
  --line-height-6: 24;
  --line-height-7: 28;
  --line-height-8: 32;
  --line-height-9: 36;
  --line-height-10: 40;
  --line-height-11: 56;
  --line-height-12: 64;
  --line-height-13: 98;
  --line-height-none: 16;
  --line-height-tight: 20;
  --line-height-snug: 22;
  --line-height-normal: 24;
  --line-height-relaxed: 26;
  --line-height-loose: 32;
  --2x: 16;
  --3x: 24;
  --5x: 40;
  --10x: 80;
  --rounded-base: 16;
  --rounded-none: 0;
  --rounded-sm: 2;
  --rounded-default: 4;
  --rounded-md: 6;
  --rounded-lg: 8;
  --rounded-xl: 12;
  --rounded-2xl: 16;
  --rounded-3xl: 24;
  --green-dark-500: #A4D1A4;
  --green-dark-600: #558255;
  --green-dark-700: #2D4E2D;
  --green-dark-900: #112212;
  --green-dark-950: #000300;
  --green-light-0: #F5F9F4;
  --green-light-50: #E5F3E5;
  --green-light-200: #A4D1A4;
  --green-light-500: #346135;
}