.theme-dark {
  --text-primary: #E9E9E2;
  --text-secondary: #e9e9e299;
  --text-alt: #727270;
  --text-alt2: #161616;
  --panel-background: #080808;
  --panel-border: linear-gradient(0deg, #29292900 0%, #292929 100%);
  --panel-blend-layer: linear-gradient(0deg, #08080800 0%, #080808 100%);
  --panel-dropshadow-x: 0;
  --panel-dropshadow-y: 4;
  --panel-dropshadow-blur: 36;
  --panel-dropshadow-spread: 0;
  --panel-dropshadow-color: #38393880;
  --panel-dropshadow-type: dropShadow;
  --panel-blur-x: 0;
  --panel-blur-y: 0;
  --panel-blur-blur: 920;
  --panel-blur-spread: 100;
  --panel-blur-color: #383938;
  --panel-blur-type: dropShadow;
  --main-theme-1: #E9E9E2;
  --main-theme-2: #383938;
  --main-theme-3: #292929;
  --main-theme-4: #161616;
  --main-background: #080808;
  --main-theme-overlay: #e9e9e21a;
  --main-transparent: #0808081a;
  --button-focus-x: 0;
  --button-focus-y: 0;
  --button-focus-blur: 0;
  --button-focus-spread: 3;
  --button-focus-color: #080808;
  --button-focus-type: innerShadow;
}