.theme-blue-dark {
  --text-primary: #3b58ff;
  --text-secondary: #3b58ffe6;
  --text-alt: #1E34B6;
  --text-alt2: #150070;
  --panel-background: #000;
  --panel-border: linear-gradient(0deg, #15007000 0%, #150070 100%);
  --panel-blend-layer: linear-gradient(0deg, #00000000 0%, #000000 100%);
  --panel-dropshadow-x: 0;
  --panel-dropshadow-y: 4;
  --panel-dropshadow-blur: 36;
  --panel-dropshadow-spread: 0;
  --panel-dropshadow-color: #1e34b633;
  --panel-dropshadow-type: dropShadow;
  --panel-blur-x: 0;
  --panel-blur-y: 0;
  --panel-blur-blur: 920;
  --panel-blur-spread: 100;
  --panel-blur-color: #3b58ff;
  --panel-blur-type: dropShadow;
  --panel-dropshadow-detail-x: 0;
  --panel-dropshadow-detail-y: 0;
  --panel-dropshadow-detail-blur: 3;
  --panel-dropshadow-detail-spread: 3;
  --panel-dropshadow-detail-color: #1E34B6;
  --panel-dropshadow-detail-type: dropShadow;
  --panel-pointer-x: 0;
  --panel-pointer-y: 0;
  --panel-pointer-blur: 20;
  --panel-pointer-spread: 30;
  --panel-pointer-color: #1E34B6;
  --panel-pointer-type: dropShadow;
  --main-theme-1: #3b58ff;
  --main-theme-2: #1E34B6;
  --main-theme-3: #150070;
  --main-theme-4: #000026;
  --main-background: #030212;
  --main-theme-overlay: #3b58ff33;
  --main-transparent: #0302121a;
  --button-focus-x: 0;
  --button-focus-y: 0;
  --button-focus-blur: 0;
  --button-focus-spread: 3;
  --button-focus-color: #000;
  --button-focus-type: innerShadow;
}