.theme-light {
  --text-primary: #1E1E1E;
  --text-secondary: #1e1e1ecc;
  --text-alt: #4A4A4A;
  --text-alt2: #F0F4F3;
  --panel-background: #fff;
  --panel-border: linear-gradient(0deg, #f0f4f300 0%, #f0f4f3 100%);
  --panel-blend-layer: linear-gradient(0deg, #ffffff00 0%, #ffffff 100%);
  --panel-dropshadow-x: 0;
  --panel-dropshadow-y: 4;
  --panel-dropshadow-blur: 36;
  --panel-dropshadow-spread: 0;
  --panel-dropshadow-color: #dadeddcc;
  --panel-dropshadow-type: dropShadow;
  --panel-blur-x: 0;
  --panel-blur-y: 0;
  --panel-blur-blur: 920;
  --panel-blur-spread: 100;
  --panel-blur-color: #dadedd;
  --panel-blur-type: innerShadow;
  --main-theme-1: #1E1E1E;
  --main-theme-2: #DADEDD;
  --main-theme-3: #F0F4F3;
  --main-background: #F8F8F8;
  --main-theme-overlay: #1e1e1e1a;
  --main-transparent: #f8f8f81a;
  --button-focus-x: 0;
  --button-focus-y: 0;
  --button-focus-blur: 0;
  --button-focus-spread: 3;
  --button-focus-color: #fff;
  --button-focus-type: innerShadow;
  --button-hover-x: 0;
  --button-hover-y: 0;
  --button-hover-blur: 4;
  --button-hover-spread: 8;
  --button-hover-color: #DADEDD;
  --button-hover-type: dropShadow;
}