.theme-blue-light {
  --text-primary: #001aff;
  --text-secondary: #001aff99;
  --text-alt: #cddcff;
  --text-alt2: #f0f4ff;
  --panel-background: #fff;
  --panel-border: linear-gradient(0deg, #f0f4ff00 0%, #f0f4ff 100%);
  --panel-blend-layer: linear-gradient(0deg, #ffffff00 0%, #ffffff 100%);
  --panel-dropshadow-x: 0;
  --panel-dropshadow-y: 4;
  --panel-dropshadow-blur: 36;
  --panel-dropshadow-spread: 0;
  --panel-dropshadow-color: #001aff33;
  --panel-dropshadow-type: dropShadow;
  --panel-blur-x: 0;
  --panel-blur-y: 0;
  --panel-blur-blur: 920;
  --panel-blur-spread: 100;
  --panel-blur-color: #001aff;
  --panel-blur-type: dropShadow;
  --main-theme-1: #001aff;
  --main-theme-2: #cddcff;
  --main-theme-3: #f0f4ff;
  --main-background: #F8FCFD;
  --main-theme-overlay: #001aff1a;
  --main-transparent: #f8fcfd1a;
  --button-focus-x: 0;
  --button-focus-y: 0;
  --button-focus-blur: 0;
  --button-focus-spread: 3;
  --button-focus-color: #fff;
  --button-focus-type: innerShadow;
}