.theme-pomegranate {
  --text-primary: #f44e22;
  --text-secondary: #f44e2299;
  --text-alt: #fcc7ac;
  --text-alt2: #fff3ed;
  --panel-background: #fff;
  --panel-border: linear-gradient(0deg, #fff3ed00 0%, #fff3ed 100%);
  --panel-blend-layer: linear-gradient(0deg, #ffffff00 0%, #ffffff 100%);
  --panel-dropshadow-x: 0;
  --panel-dropshadow-y: 4;
  --panel-dropshadow-blur: 36;
  --panel-dropshadow-spread: 0;
  --panel-dropshadow-color: #f44e2233;
  --panel-dropshadow-type: dropShadow;
  --panel-blur-x: 0;
  --panel-blur-y: 0;
  --panel-blur-blur: 920;
  --panel-blur-spread: 100;
  --panel-blur-color: #f44e22;
  --panel-blur-type: innerShadow;
  --main-theme-1: #f44e22;
  --main-theme-2: #fcc7ac;
  --main-theme-3: #fff3ed;
  --main-background: #fff;
  --main-theme-overlay: #f44e221a;
  --button-focus-x: 0;
  --button-focus-y: 0;
  --button-focus-blur: 0;
  --button-focus-spread: 3;
  --button-focus-color: #fff;
  --button-focus-type: innerShadow;
  --button-hover-x: 0;
  --button-hover-y: 0;
  --button-hover-blur: 4;
  --button-hover-spread: 8;
  --button-hover-color: #f44e22;
  --button-hover-type: dropShadow;
}