.theme-green-light {
  --text-primary: #346135;
  --text-secondary: #34613599;
  --text-alt: #A4D1A4;
  --text-alt2: #E5F3E5;
  --panel-background: #fff;
  --panel-border: linear-gradient(0deg, #e5f3e500 0%, #e5f3e5 100%);
  --panel-blend-layer: linear-gradient(0deg, #ffffff00 0%, #ffffff 100%);
  --panel-dropshadow-x: 0;
  --panel-dropshadow-y: 4;
  --panel-dropshadow-blur: 36;
  --panel-dropshadow-spread: 0;
  --panel-dropshadow-color: #34613533;
  --panel-dropshadow-type: dropShadow;
  --panel-blur-x: 0;
  --panel-blur-y: 0;
  --panel-blur-blur: 920;
  --panel-blur-spread: 100;
  --panel-blur-color: #346135;
  --panel-blur-type: dropShadow;
  --main-theme-1: #346135;
  --main-theme-2: #A4D1A4;
  --main-theme-3: #E5F3E5;
  --main-background: #F5F9F4;
  --main-theme-overlay: #3461351a;
  --main-transparent: #f5f9f41a;
  --button-focus-x: 0;
  --button-focus-y: 0;
  --button-focus-blur: 0;
  --button-focus-spread: 3;
  --button-focus-color: #fff;
  --button-focus-type: innerShadow;
}