.theme-red-dark {
  --text-primary: #FF4733;
  --text-secondary: #ff4733e6;
  --text-alt: #340904;
  --text-alt2: #45110D;
  --panel-background: #000;
  --panel-border: linear-gradient(0deg, #34090400 0%, #34090400 100%);
  --panel-blend-layer: linear-gradient(0deg, #00000000 0%, #000000 100%);
  --panel-dropshadow-x: 0;
  --panel-dropshadow-y: 4;
  --panel-dropshadow-blur: 36;
  --panel-dropshadow-spread: 0;
  --panel-dropshadow-color: #b9000033;
  --panel-dropshadow-type: dropShadow;
  --panel-blur-x: 0;
  --panel-blur-y: 0;
  --panel-blur-blur: 920;
  --panel-blur-spread: 100;
  --panel-blur-color: #ff4733;
  --panel-blur-type: dropShadow;
  --main-theme-1: #FF4733;
  --main-theme-2: #B90000;
  --main-theme-3: #340904;
  --main-theme-4: #45110D;
  --main-background: #070000;
  --main-theme-overlay: #ff473333;
  --main-transparent: #0700001a;
  --button-focus-x: 0;
  --button-focus-y: 0;
  --button-focus-blur: 0;
  --button-focus-spread: 3;
  --button-focus-color: #000;
  --button-focus-type: innerShadow;
}