::selection {
  background-color: var(--theme-1);
  color: var(--theme-2);
}

:root {
  background: var(--main-background);
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

.glow {
  background: radial-gradient(var(--theme-1), transparent);
  top: calc(var(--mouse-y) - 200px);
  left: calc(var(--mouse-x) - 200px);
  opacity: 0.1;
}

button:focus-visible,
a:focus-visible {
  outline: 1px solid var(--theme-1);
}
