@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: var(--main-theme-1);
  color: var(--main-theme-2);
}

:root {
  background: var(--main-background);
}

* {
  -webkit-font-smoothing: antialiased;
}

.glow {
  background: radial-gradient(var(--main-theme-1), transparent);
  top: calc(var(--mouse-y) - 200px);
  left: calc(var(--mouse-x) - 200px);
  opacity: 0.1;
}

button:focus-visible,
a:focus-visible {
  outline: 1px solid var(--main-theme-1);
}
