@tailwind base;
@tailwind components;
@tailwind utilities;

@import './themes-oklab.css';

::selection {
  background-color: oklch(var(--theme-1));
  color: oklch(var(--theme-2));
}

:root {
  background: oklch(var(--background));
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

* {
  -webkit-font-smoothing: antialiased;
}


.glow {
  background: radial-gradient(oklch(var(--theme-1)), transparent);
  top: calc(var(--mouse-y) - 200px);
  left: calc(var(--mouse-x) - 200px);
  opacity: 0.1;
}

button:focus-visible,
a:focus-visible {
  outline: 1px solid oklch(var(--theme-1));
}
