.home-cards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 300px minmax(auto, 480px) auto;
  grid-template-rows: auto 1fr auto auto auto auto auto auto auto;
  grid-template-areas:
    '👋 👋 👔'
    '👋 👋 📌'
    '👋 👋 💬'
    '🖌️ 🖼️ 👩‍💻'
    '🎨 🖼️ 👩‍💻'
    '🎨 🖼️ 💌'
    '👀 💯 💌'
    '👀 🧪 💌'
    '👀 🧪 📝';
}

.home-cards > *,
.ui-card,
.card {
  height: 100%;
}

@media (max-width: 1280px) {
  .home-cards {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
      '👋 👋 👋 👋'
      '👔 👔 📌 📌'
      '💬 💬 💬 💬'
      '🖌️ 🖌️ 🎨 🎨'
      '👀 👀 🖼️ 🖼️'
      '💯 💯 🧪 🧪'
      '👩‍💻 👩‍💻 💌 💌'
      '👩‍💻 👩‍💻 📝 📝';
  }
}

@media (max-width: 768px) {
  .home-cards {
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto auto auto auto auto auto auto;
    grid-template-areas:
      '👋'
      '👔'
      '📌'
      '💬'
      '👀'
      '🖼️'
      '👩‍💻'
      '🎨'
      '🖌️'
      '💯'
      '🧪'
      '💌'
      '📝';
  }
}
