.theme-light {
  --theme-1: oklch(0.235 0 0);
  --theme-2: oklch(0.8972 0.0045 179.72);
  --theme-3: oklch(0.9638 0.0044 179.73);
  --theme-4: oklch(1 0 0);

  --main-background: oklch(0.9791 0 0);
  --main-accent: oklch(0 0 0);

  --text-primary: oklch(0.4 0 0);
  --text-secondary: oklch(0.4 0 0 / 0.7);
  --text-muted: oklch(0.59 0 0 / 0.4);
  --text-contrast: oklch(0.9638 0.0044 179.73);

  --panel-background: oklch(1 0 0);
  --panel-border: oklch(0.9338 0.0044 179.73 / 0.9);
  --panel-shadow: oklch(0.8972 0.0045 179.72);
  --panel-overlay: oklch(0.235 0 0 / 0.1);
}

.theme-dark {
  --theme-1: oklch(0.9321 0.0093 106.58);
  --theme-2: oklch(0.3432 0.0022 145.53);
  --theme-3: oklch(0.2809 0 0);
  --theme-4: oklch(0.2002 0 0);

  --main-background: oklch(0.1344 0 0);
  --main-accent: oklch(0.9999 0.0093 106.58);

  --text-primary: oklch(0.895 0.0093 106.58);
  --text-secondary: oklch(0.9321 0.0093 106.58 / 0.7);
  --text-muted: oklch(0.5514 0.003 106.5 / 0.4);
  --text-contrast: oklch(0.2002 0 0);

  --panel-background: oklch(0.1822 0 0);
  --panel-border: oklch(0.2809 0 0 / 0.5);
  --panel-shadow: oklch(0.3432 0.0022 145.53);
  --panel-overlay: oklch(0.9321 0.0093 106.58 / 0.1);
}

/* RED */
.theme-red-dark {
  --theme-1: oklch(0.6644 0.223 30.14);
  --theme-2: oklch(0.4934 0.2025 29.23);
  --theme-3: oklch(0.2187 0.0701 31.58);
  --theme-4: oklch(0.2663 0.0806 28.17);

  --main-background: oklch(0.0807 0.0331 29.23);
  --main-accent: oklch(0.83 0.26 30.8);

  --text-primary: oklch(0.6644 0.223 30.14);
  --text-secondary: oklch(0.49 0.163 30.14);
  --text-muted: oklch(0.43 0.14 31.58);
  --text-contrast: oklch(0.2663 0.0806 28.17);

  --panel-background: oklch(0 0 0);
  --panel-border: oklch(0.6644 0.223 30.14 / 0.1);
  --panel-shadow: oklch(0.4934 0.2025 29.23);
  --panel-overlay: oklch(0.6644 0.223 30.14 / 0.15);
}

.theme-red-light {
  --theme-1: oklch(0.6517 0.2094 35.01);
  --theme-2: oklch(0.8469 0.0914 47.61);
  --theme-3: oklch(0.9719 0.0153 48.56);

  --main-background: oklch(1 0 0);
  --main-accent: oklch(0.55 0.2094 34.62);

  --text-primary: oklch(0.6517 0.2094 35.01);
  --text-secondary: oklch(0.6517 0.2094 35.01 / 0.7);
  --text-muted: oklch(0.6517 0.2094 35.01 / 0.4);
  --text-contrast: oklch(0.9719 0.0153 48.56);

  --panel-background: oklch(1 0 0);
  --panel-border: oklch(0.6517 0.2094 35.01 / 0.15);
  --panel-shadow: oklch(0.6517 0.2094 35.01);
  --panel-overlay: oklch(0.6517 0.2094 35.01 / 0.1);
}

/* BLUE */
.theme-blue-dark {
  --theme-1: oklch(0.6193 0.2045 267.08);
  --theme-2: oklch(0.4104 0.2033 267.51);
  --theme-3: oklch(0.1978 0.0618 271.4);
  --theme-4: oklch(0.1214 0.0841 264.05);

  --main-background: oklch(0.1061 0.0428 281.41);
  --main-accent: oklch(0.77 0.16 269.4);

  --text-primary: oklch(0.6193 0.2045 267.08);
  --text-secondary: oklch(0.49 0.1845 267.08);
  --text-muted: oklch(0.45 0.2 267.51);
  --text-contrast: oklch(0.22 0.11 266.32);

  --panel-background: oklch(0 0 0);
  --panel-border: oklch(0.6193 0.2045 267.08 / 0.15);
  --panel-shadow: oklch(0.4104 0.2033 267.51);
  --panel-overlay: oklch(0.6193 0.2045 267.08 / 0.1);
}

.theme-blue-light {
  --theme-1: oklch(0.4628 0.3059 264.18);
  --theme-2: oklch(0.8944 0.0509 267);
  --theme-3: oklch(0.9673 0.0153 269.99);

  --main-background: oklch(0.9883 0.0045 214.33);
  --main-accent: oklch(0.3028 0.2059 264.18);

  --text-primary: oklch(0.4628 0.3059 264.18);
  --text-secondary: oklch(0.4628 0.3059 264.18 / 0.6);
  --text-muted: oklch(0.4628 0.3059 264.18 / 0.4);
  --text-contrast: oklch(0.9673 0.0153 269.99);

  --panel-background: oklch(1 0 0);
  --panel-border: oklch(0.4628 0.3059 264.18 / 0.15);
  --panel-shadow: oklch(0.4628 0.3059 264.18);
  --panel-overlay: oklch(0.4628 0.3059 264.18 / 0.1);
}

/* GREEN */
.theme-green-dark {
  --theme-1: oklch(0.8167 0.0783 144.82);
  --theme-2: oklch(0.5615 0.0844 144.35);
  --theme-3: oklch(0.3888 0.0671 144.15);
  --theme-4: oklch(0.2315 0.038 145.55);

  --main-background: oklch(0.084 0.0286 142.5);
  --main-accent: oklch(0.9967 0.1283 144.82);

  --text-primary: oklch(0.8167 0.0783 144.82);
  --text-secondary: oklch(0.5967 0.0783 144.82);
  --text-muted: oklch(0.44 0.07 144.15);
  --text-contrast: oklch(0.2315 0.038 145.55);

  --panel-background: oklch(0 0 0);
  --panel-border: oklch(0.8167 0.0783 144.82 / 0.15);
  --panel-shadow: oklch(0.5615 0.0844 144.35);
  --panel-overlay: oklch(0.8167 0.0783 144.82 / 0.1);
}

.theme-green-light {
  --theme-1: oklch(0.448 0.0861 144.43);
  --theme-2: oklch(0.8167 0.0783 144.82);
  --theme-3: oklch(0.9499 0.0237 145.39);

  --main-background: oklch(0.9777 0.0078 139.44);
  --main-accent: oklch(0.18 0.3861 144.43);

  --text-primary: oklch(0.448 0.0861 144.43);
  --text-secondary: oklch(0.448 0.0861 144.43 / 0.7);
  --text-muted: oklch(0.448 0.0861 144.43 / 0.4);
  --text-contrast: oklch(0.9499 0.0237 145.39);

  --panel-background: oklch(1 0 0);
  --panel-border: oklch(0.448 0.0861 144.43 / 0.15);
  --panel-shadow: oklch(0.448 0.0861 144.43);
  --panel-overlay: oklch(0.448 0.0861 144.43 / 0.1);
}
