.relative-mouse {
  mask-image: radial-gradient(
    50% 50% at var(--mouse-x, 9999px) var(--mouse-y, 9999px),
    rgba(0, 0, 0, 0.5) 40%,
    transparent
  );
  transition: opacity 0.5s;
}

.ui-card:target {
  animation: target-highlight 2s ease-out;
}

@keyframes target-highlight {
  0% {
    background: var(--theme-1);
  }
  100% {
    background: transparent;
  }
}
